.game__table__player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    &__card {
        width: 210px;
        height: 264px;
        margin-left: 1rem;
        &__image:last-child {
            animation: dealing 0.5s linear;
            width: 100%;
            height: 100%;
        }
    }
}

@keyframes dealing {
    from { margin-top: 200px; opacity: 0; }
    to { margin-top: 0px; opacity: 1; }
}