@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

body {
  margin: 0;
}

h1, h2, h3, h4, p, button {
  font-family: 'Fascinate', cursive;
}

button {
  background-color: #DCC48E;
  font-size: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 5px 0 #967018;
  transition: background-color 0.4s;
}

button:hover {
  cursor: pointer;
  background-color: #dfb656;
}

button:active {
  box-shadow: 1px 1px 0 #967018;
  transform: translateY(4px);
  transform: translateX(2px);
}

.hide-modal {
  display: none;
}

